In [4]:
import pandas as pd
import numpy as np

In [10]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
df = pd.DataFrame(exam_data, index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [13]:
df = df.dropna()
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [14]:
df_extracted = df[["name","score"]]
print(df_extracted)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [17]:
df.loc["k"] = {"name": "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"}
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [18]:
df = df.drop("attempts",axis=1)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [19]:
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [20]:
df['Success'] = df.apply(lambda row: 1 if row['score'] > 10 else 0, axis=1)
print(df)

        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

In [21]:
df.to_csv("my_data.csv")